.photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}

.photo-grid h3 {
    margin: 0;
}

.albums-list {
    display: grid;
    grid-template-columns: 1fr auto;
    /*grid-template-rows: repeat(auto-fit, auto);*/
}

.album {
    grid-column-start: span 2;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: min-content 1fr;
    column-gap: 20px;
}

.album-cover {
    grid-row-start: span 2;
}

.photos-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, auto);
    gap: 10px;
}

.photos-list h3 {
    grid-column-start: span 2;
    margin: 0;
}

.photo-thumb {

}

.thumb-img {

}

.thumb-description {

}

